@import "tailwindcss";

@theme {
  --color-gold-50: #fbf7ef;
  --color-gold-100: #f5edd8;
  --color-gold-200: #ead9b0;
  --color-gold-300: #dec084;
  --color-gold-400: #cca762;
  --color-gold-500: #ab934d;
  --color-gold-600: #96793f;
  --color-gold-700: #7a6034;
  --color-gold-800: #654f2e;
  --color-gold-900: #544129;
  --color-gold-950: #2e2315;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

/* Typography Overrides for Blog Content */
@layer components {

  .prose h2,
  .prose h3,
  .prose h4 {
    @apply text-gold-500 font-bold font-serif;
  }

  .prose strong {
    @apply text-slate-200 font-bold;
  }

  .prose a {
    @apply text-gold-500 hover:text-gold-400 no-underline hover:underline;
  }

  .prose blockquote {
    @apply border-l-4 border-gold-500 pl-4 italic text-slate-300;
  }
}

@layer base {
  body {
    @apply bg-[#020617] text-slate-300;
  }
}